{% extends 'base.html' %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('repo', repo_name=repo.name) }}" class="active">Back to repo</a></li>
</ol>

<h3><span title="{{ commit.hexsha }}">{{ commit.hexsha|sha }}</span> by {{ commit.author }} on {{ commit.authored_date|date }}</h3>

<div class="row">
    <h4 class="pull-left">
    {% if previous_commit %}
        <a href="{{ url_for('commit', repo_name=repo.name, commit_sha=previous_commit.hexsha) }}">&lt; Previous commit</a>
    {% endif %}
    </h4>
    <h4 class="pull-right">
    {% if next_commit %}
        <a href="{{ url_for('commit', repo_name=repo.name, commit_sha=next_commit.hexsha) }}">Next commit &gt;</a>
    {% endif %}
    </h4>
</div>

<div class="well well-nobottom">
    <table class="table">
        <tbody>
            <tr>
                <th>Full SHA</th>
                <td>{{ commit.hexsha }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ commit.author }} on {{ commit.authored_date|date }}</td>
            </tr>
        {% if commit.author != commit.committer or commit.authored_date != commit.committed_date %}
            <tr>
                <th>Committer</th>
                <td>{{ commit.committer }} on {{ commit.committed_date|date }}</td>
            </tr>
        {% endif %}
            <tr>
                <th>Stats</th>
                <td>
                    {{ commit.stats.total['lines'] }} line{% if commit.stats.total['lines'] != 1 %}s{% endif %} changed:
                    {{ commit.stats.total['insertions'] }} insertion{% if commit.stats.total['insertions'] != 1 %}s{% endif %} and
                    {{ commit.stats.total['deletions'] }} deletion{% if commit.stats.total['deletions'] != 1 %}s{% endif %}
                </td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ commit.message }}</td>
            </tr>
            <tr>
                <th></th>
                <td><a href="{{ url_for('switch_commit', repo_name=repo.name, commit=commit.hexsha) }}">Browse the repo at this commit</a></td>
            </tr>
        </tbody>
    </table>
</div>
<pre>
    {{ diff|safe }}
</pre>

{% endblock content %}
