{% extends 'base.html' %}

{% block content %}

<div class="panel panel-default">
    <div class="panel-heading">Repositories</div>
    <ul class="list-group">
    {% for repo in repositories %}
        <li class="list-group-item"><a href="{{ url_for('repo', repo_name=repo.name) }}">{{ repo.name }}</a></li>
    {% else %}
    </ul>
    <div class="panel-body">
        <p>No repositories found</p>
    </div>
    {% endfor %}
    </ul>
</div>

{% endblock content %}
