{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js" defer></script>
{% endblock head %}

{% block content %}

<ol class="breadcrumb">
    <li><a href="{% if up_directory %}{{ url_for('repo', repo_name=repo.name, code_path=up_directory) }}{% else %}{{ url_for('repo', repo_name=repo.name) }}{% endif %}" class="active">Back to repo</a></li>
</ol>

<h3>{{ code_path }} at {{ commit.hexsha|sha }}</h3>

<div class="code_block">
    <pre class="prettyprint">
{{ data }}
    </pre>
</div>

{% endblock content %}
