{% extends 'base.html' %}

{% block content %}

<h3 class="padbottom"><a href="{{ url_for('repo', repo_name=repo.name) }}">{{ repo.name }}</a></h3>

{% if not branch == 'master' or not commit == 'HEAD' %}
<p class="not-top-note">
{% if not branch == 'master' and not commit == 'HEAD' %}
Viewing branch {{ branch }} <a href="{{ url_for('switch_branch', repo_name=repo.name, branch='master') }}">(revert)</a>
and commit {{ commit|sha }} <a href="{{ url_for('switch_commit', repo_name=repo.name, commit='HEAD') }}">(revert)</a>
{% else %}
{% if not branch == 'master' %}
Viewing branch {{ branch }} <a href="{{ url_for('switch_branch', repo_name=repo.name, branch='master') }}">(revert)</a>
{% endif %}
{% if not commit == 'HEAD' %}
Viewing commit {{ commit|sha }} <a href="{{ url_for('switch_commit', repo_name=repo.name, commit='HEAD') }}">(revert)</a>
{% endif %}
{% endif %}
</p>
{% endif %}

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation"{% if show_tab == 'code' %}class="active"{% endif %}><a href="#code" aria-controls="code" role="tab" data-toggle="tab">Code</a></li>
    <li role="presentation"{% if show_tab == 'commits' %}class="active"{% endif %}><a href="#commits" aria-controls="commits" role="tab" data-toggle="tab">Commits</a></li>
    <li role="presentation"{% if show_tab == 'branches' %}class="active"{% endif %}><a href="#branches" aria-controls="branches" role="tab" data-toggle="tab">Branches</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane{% if show_tab == 'code' %} active{% endif %}" id="code">
    {% if repo.files(code_path, commit=commit, branch=branch) %}
    {% if code_path|split_path|length > 0 %}
        <ol class="breadcrumb breadcrumb-nobottom">
            <li><a href="{{ url_for('repo', repo_name=repo.name) }}">root</a></li>
        {% for directory in code_path|split_path %}
            <li {% if directory.current %}class="active"{% endif %}>
                <a href="{{ url_for('repo', repo_name=repo.name, code_path=directory.full) }}">{{ directory.short }}</a>
            </li>
        {% endfor %}
        </ol>
    {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Last updated by</th>
                    <th>Last updated on</th>
                </tr>
            </thead>
            <tbody>
            {% for file in repo.files(code_path, commit=commit, branch=branch) %}
                <tr>
                {% if file.is_directory %}
                    <td><a href="{{ url_for('repo', repo_name=repo.name, code_path=file.path) }}">{{ file.name }}</a></td>
                {% else %}
                    <td><a href="{{ url_for('inspect', repo_name=repo.name, code_path=file.path) }}">{{ file.name }}</a></td>
                {% endif %}
                    <td>{{ file.last_commit_author }}</td>
                    <td>{{ file.last_commit_date }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Empty repository - no code
                </p>
            </div>
        </div>
    {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane{% if show_tab == 'commits' %} active{% endif %}" id="commits">
    {% if repo.commits(branch=branch) %}
        {% if repo.commit_count(branch=branch) > 20 %}
            <nav>
                <ul class="pagination">
                {% for index in (repo.commit_count(branch=branch) / 20)|int|commit_range %}
                    {% if index == commit_offset|int + 1 %}
                        <li class="active">
                            <a href="?offset={{ index - 1 }}&amp;showtab=commits">{{ commit_offset|int + 1}} <span class="sr-only">(current)</span></a>
                        </li>
                    {% else %}
                        <li><a href="?offset={{ index - 1 }}&amp;showtab=commits">{{ index }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Empty repository - no commits
                </p>
            </div>
        </div>
    {% endif %}
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>SHA</th>
                    <th>Author</th>
                    <th>Authored on</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
            {% for commit in repo.commits(branch=branch, offset=commit_offset) %}
                <tr>
                    <td><a href="{{ url_for('commit', repo_name=repo.name, commit_sha=commit.hexsha) }}">{{ commit.hexsha|sha }}</a></td>
                    <td>{{ commit.author }}</td>
                    <td>{{ commit.authored_date|date }}</td>
                    <td>{{ commit.summary }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div role="tabpanel" class="tab-pane{% if show_tab == 'branches' %} active{% endif %}" id="branches">
    {% if repo.branches() %}
        <br>
        <div class="btn-group">
            <a href="{{ url_for('switch_branch', repo_name=repo.name, branch='master') }}" class="btn btn-default btn-branch" {% if branch == 'master' %} disabled="disabled"{% endif %}>master</a>
        {% for repo_branch in repo.branches()|remove_master %}
            <a href="{{ url_for('switch_branch', repo_name=repo.name) }}?branch={{ repo_branch.name }}" class="btn btn-default btn-branch" {% if branch == repo_branch.name %} disabled="disabled"{% endif %}>{{ repo_branch.name }}</a>
        {% endfor %}
        </div>
    {% else %}
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    Empty repository - no branches
                </p>
            </div>
        </div>
    {% endif %}
    </div>
</div>

{% endblock content %}
