body {
    padding-top: 4em;
}

div.container > div.panel {
    margin-top: 2em;
}

h3.padbottom {
    padding-bottom: 1em;
}

ol.breadcrumb-nobottom {
    margin-bottom: 0;
}

div.code_row {
    margin: 0;
    padding: 0;
}

div.diff_add {
    padding: 2px;
    background-color: rgba(0, 255, 0, 0.5);
}

div.diff_remove {
    padding: 2px;
    background-color: rgba(255, 0, 0, 0.5);
}

div.diff_divider {
    padding: 2px;
    margin-top: 2em;
    background-color: rgba(99, 99, 99, 0.5);
}

div.diff_info {
    padding: 2px;
    background-color: rgba(99, 99, 99, 0.5);
}

div.diff_none {
    /* empty */
}

div.code_block > pre {
    padding: 1em;
}

ul.pagination {
    margin-bottom: 0;
}

p.not-top-note {
    font-weight: bold;
    color: gray;
}

div.well-nobottom {
    padding-bottom: 0;
}
